<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- 次の行の「タイトル」をゲームの名前に書き換えてください。-->
    <title>タイトル</title>
  </head>
  <body>
    <!-- 次の行の「見出し」をゲームの名前に書き換えてください。-->
    <h1>見出し</h1>

    <!-- 以下の「説明始め」と「説明終り」の間に、
         ゲームのルールや使い方などの説明を書いてください。
         必要に応じて行を追加してください。
         改行を入れたい場合、<br>タグを使ってください。-->
    <!-- 説明始め -->

    <!-- 説明終り -->

    <!-- 以下の「UI始め」と「UI終り」の間に
         文字列入力枠、文字列表示枠、ボタンなどの
         ユーザインタフェースを記述してください。
         必要に応じて、ユーザインタフェースを追加してください。
         ユーザインタフェースを追加したとき、それぞれ区別できるように
         input2, button2, output2などのようにidを変えてください。
         完成版では例を削除するかコメントアウトしてください。-->
    <!-- UI始め -->

    <input id="input1" type="text"><!-- 文字列入力枠の例 -->

    <button id="button1">カウント</button><!-- ボタンの例 -->

    <p>文字数: <span id="output1"></span></p><!-- 文字列表示枠の例 -->
    
    <!-- UI終り -->
    
    <script><!--
      console.log("main.js読み込み開始"); // 読み込み確認のためログに出力
      --></script>
    <script src="main.js"><!--
      // ソースコードは main.js ファイルに書いてください。
      // srcが指定されている場合、ここにコードを書いても実行されません。
      --></script>
    <script><!--
      console.log("main.js読み込み終了"); // 読み込み確認のためログに出力
      --></script>
  </body>
</html>
